@page "{id:int}"
@model MessageBoardWeb.Pages.Delete.DeleteCategorysModel
<div class="container">
    <div class="col-lg-12">
        <h1>Delete Categorys</h1>
    </div>
    <br />
    <div class="col-lg-12">

    </div>
</div>
