@page "{id:int}"
@model MessageBoardWeb.Pages.Delete.DeleteUseresModel
<div class="container">
    <div class="col-lg-12">
        <h1>Delete User</h1>
    </div>
    <br />
    <div class="col-lg-12">

    </div>
</div>
