@page "{id:int?}"
@model MessageBoardWeb.Pages.ShowCreatedOrUpdateMessagesModel
<div class="container text-center">
    <div class="row">
        <div class="col-lg-12">
            <h1>Message Was Made</h1>
            <br />
            <br />
        </div>
    </div>
    <div class="col-lg-12">
        <label>@Model.Messages.Title</label>
        <br />
        <label>@Model.Messages.Content</label>
    </div>
</div>
