@page "{id:int}"
@model MessageBoardWeb.Pages.Edit.EditCategorysModel
<div class="container">
    <div class="col-lg-12">
        <h1>Category Editing</h1>
    </div>
    <br />
    <div class="col-lg-12">

    </div>
</div>
