@page "{id:int}"
@model MessageBoardWeb.Pages.Details.DetailUsersModel
<div class="container">
    <div class="col-lg-12">
        <h1>User Details</h1>
    </div>
    <br />
    <div class="col-lg-12">

    </div>
</div>
